@import url("https://fonts.googleapis.com/css2?family=Kosugi&display=swap");


body {
	/* background: url(/Assets/Background.png); */
	font-family: 'Kosugi', sans-serif;
	min-height: 100vh;
	background-repeat: no-repeat;
	background-size: 100vw;
}

nav {
	top: 0;
}

.navbar-title {
	margin-bottom: 40px;
}

.logo-btn {
	width: 50px;
	height: auto;
}

.registerBtn {
	background-color: #951642;
	height: 35px;
	color: white;
}

.loginBtn {
	border: 2px solid #951642;
	height: 35px;
	color: white;
	background-color: transparent;
}

.registerBtn:hover {
	background-color: rgba(255, 255, 255, 0.87);
	color: #951642;
	font-weight: 600;

}

.loginBtn:hover {
	background-color: rgba(255, 255, 255, 0.87);
	color: #951642;
	font-weight: 600;
}

.dropdownbar {
	background-color: rgba(38, 38, 47, 255);
	backdrop-filter: blur(10px);
}

.dropdown-item:hover {
	background-color: rgba(53, 53, 53, 255);
}

.container {
	max-width: 1170px;
	margin: auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.footer {
	background-color: #24262b;
	padding-top: 20px;
	margin-top: 80px;
	bottom: 0;
}

.footer-col {
	width: 20%;
	padding: 0 15px;
	margin-left: 49px;
}

.footer-col h4 {
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer-col h4::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.footer-col ul li:not(:last-child) {
	margin-bottom: 10px;
}

.footer-col ul li a {
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover {
	color: #ffffff;
	padding-left: 8px;
}

.footer-col .social-links a {
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255, 255, 255, 0.2);
	margin: 0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
	color: #24262b;
	background-color: #ffffff;
}

ul {
	padding: 0;
	padding-bottom: 30px;
}

.footerBottom,
.footerUpper {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #24262b;
	color: white;
	border-top: 0.5px solid #141313;
	padding-top: 20px;
	padding-bottom: 10px;
}

.footerUpper {
	border-top: 0px;
	padding-bottom: 40px;
}

.text-center {
	text-align: center;
}

.kosugi-regular {
	font-family: "Kosugi", sans-serif;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 2px;
	line-height: auto;
}

/*responsive*/
@media (max-width: 992px) {
	.sidebar {
		background-color: rgba(38, 38, 47, 255);
		backdrop-filter: blur(10px);
	}

	.footer-col {
		width: 20%;
		margin-left: 25px;
	}
}

@media(max-width: 574px) {
	.footer-col {
		width: 20%;
		margin-left: 15px;
	}
}