::-webkit-scrollbar-track {
    background-color: #030418;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(124, 0, 91);
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 3px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Kosugi", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.payment-option {
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 20px 5px 20px;
    width: 200px;

}

.radio-input {
    display: none;
}

.payment-option img {
    width: 150px;
    height: 95px;
    border: 2px solid transparent;

    background: white;
    cursor: pointer;
    object-fit: cover;

    border-radius: 15px;
}

.payment-option:hover img {
    box-shadow: 0 0 0 5px rgba(127, 89, 166, 1);
    transform: scale(1.05);

}

.payment-option input[type="radio"]:checked+label img {

    box-shadow: 0 0 0 5px rgba(241, 143, 106, 1);
}

.payment-option-section {
    display: flex;
    flex-direction: row;
}



aside {
    width: 30%;
    height: 100vh;

    position: fixed;
    top: 0;
    right: 0;
    background-color: rgb(20, 20, 20);

    padding: 10px 20px 0px 30px;

}

.side-bar {
    background-color: rgb(20, 20, 20);

}

.box-section {
    display: flex;
    flex-direction: row;
}

.box {
    width: 200px;
}

.box h4 {
    padding: 8px 0px 8px 0px;
    font-weight: lighter;
}

.total-calculation {
    display: flex;
    flex-direction: column;
}

.button {
    text-align: center;

    padding: 8px 8px 8px 8px;
    display: inline-block;
    background-color: rgb(54, 0, 216);
    text-decoration: none;
    border-radius: 10px;
    margin-top: 16px;
    color: white;
    margin-right: 20px;
}

.button:hover {

    background-color: rgb(112, 73, 227);

}

.summary-content h4 {
    padding-bottom: 8px;
    font-weight: lighter;
    /* font-weight: bolder; */
    color: rgb(255, 255, 255);
}

#plan {
    color: white;
    font-weight: bold;
}

#plan0 {
    color: white;
    font-weight: bold;
}

#plan-price {
    color: white;
    font-weight: lighter;
}


.side-bar h2 {
    margin: 10px 0px 20px 0px;
}



.summary {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}



.course-img img {
    height: 90px;
}

.course-img {
    margin: 0px 0px 0px 30px;
}

.button-area {
    width: 100%;
    display: flex;
    justify-content: flex-end;

}







.plan-option {

    background: #6968dc;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;

    margin-right: 20px;
    cursor: pointer;

    margin: 5px 20px 5px 20px;
    width: 250px;

    padding: 20px 30px 20px 30px;

}

.radio {
    display: none;

}




.plan-option:hover {

    background: rgb(56, 29, 84);
}



.plan-option input[type="radio"]:checked+label .radio-inner-circle::after {
    content: '';
    display: block;
    width: 0.5em;
    height: 0.5em;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    position: absolute;
    /* mid */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.radio-inner-circle {
    display: inline-block;
    width: 1em;
    height: 1em;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
    margin-right: 0.5em;
    transition: border-color 0.2s;
    position: relative;
}



.title {
    margin: 0px 0px 20px 0px;
    font-size: 50px;
    font-weight: bold;
}

.subtitle {
    margin: 20px 0px 20px 0px;
    font-size: 35px;
    font-weight: bold;
}

body {

    background: #242424;
    color: white;
}

.content-area {
    margin: 50px 0px 0px 50px;

}

.best-offer {
    margin: 0px 0px 3px 8px;
    background: rgb(12, 37, 159);
    font-size: 14px;
    padding: 5px 5px 5px 5px;
    font-style: italic;
}

.sidebar-container {
    background-color: rgb(20, 20, 20);
    color: white;
}

.menu-bar {
    background-color: rgb(114, 114, 114);
}

@media (min-width: 992px) {
    .hide-on-large-screen {
        display: none !important;
    }
}

@media (max-width: 992px) {
    .large-screen {
        display: none;
    }
}

.hide-on-large-screen {
    width: 100%;
    display: flex;
    justify-content: end;
}

.toggler-button {
    padding: 4px 8px 4px 8px;
    margin: 8px 8px 0px 0px;
    background: transparent;
    border: 1px solid gray;
    color: white;
    border-radius: 8px;
}

.toggler-button:hover {
    background: rgb(88, 88, 88);
}

.back-button {
    border-radius: 100%;
    box-shadow: 0 0 5px 1px white;
    padding: 8px 8px 8px 8px;
    background: white;
    width: 40px;
    margin-top: 20px;
    margin-left: 20px;
}

.back-button-area {
    box-shadow: 13px 13px 10px #1c1c1c, -13px -13px 10px #262626;
}

.back-button:hover {
    transform: scale(1.2);
}